body{
    background-color: #B7B89F;
}
.header{
    background-color: #016B61;
    color: #EEEEEE;
    text-align: center;
    padding: 30px 10px;
    letter-spacing: 1px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
/* Navbar */
.navbar{
    background-color: #70B2B2;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    z-index: 100;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;

}
.nav-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 5%;
}
.logo{
    font-weight: 700;
    color: #182848;
    font-size: 1.3rem;
}
/* Navbar links*/
.nav-links{
    display: flex;
    gap:25px;

}
.nav-links div a{
    background-color: #9ECFD4;
    color: #333;
    font-weight: 600;
    padding: 8px 10px;
    transition: 0.3s;
    text-decoration: none;
}
.nav-links div a:hover{
    background-color: #E5E9C5;
    color: white;
}
/* hamburger*/
.menu-icon{
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: #014D47;
}

.container{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}
.container div.course{
    width: 30%;
    color: #014D47;
    background-color:#E5E9C5;
}
.pic{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;/*we useitfor fillig space*/
    border-radius: 10px;
}
.content{
    text-align: center;
}
.footer{
    display: flex;
    justify-content: center;
    padding: 20px;
    border: 2px solid #70B2B2;
    background-color: #014D47;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

article.video-gallery{
    margin: 10px;
    text-align: center;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 95%;
    overflow: hidden;
    object-fit: cover;
    padding: 5px;
}
.video-gallery h2{
    width: 100%;
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #222;
}
.video-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.video-row video{
    width: 20%;
    height: 20%;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.video-row video:hover{
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);

}
/* ---------- PORTFOLIO ---------- */
.profile{
  display: grid;
  grid-template-areas: 
  "a a a"
  "b b b"
  "c d d";
  grid-template-columns: 1fr 3fr;
  justify-content: center;
  text-align: center;
}
.profileimg{
  grid-area: a;
  justify-content: center;
}
.profileimg img {
  width: 300px;         
  height: 300px;
  border-radius: 50%;    
  border: 3px solid #016B61;
}
.info{
    display: grid;
    grid-area: b;
    justify-content: center;
    text-align: center;
}
.works{
    display: grid;
    grid-area: c;
    justify-content: start;
    background-color: grey;
    border: 2px solid #182848;
}
.skills{
  display: grid;
  grid-area: d;
  background-color:grey;
  border: 3px solid #182848; 
  overflow: hidden;
}
.skills th{
    border: 2px solid #182848;
}
.skills td{
  border: 1px solid #016B61;
}
.profile h2{
  background-color: #70B2B2;
  padding: 20px;
}
/* ---------- Registration ---------- */
main{
    display: grid;
    place-items: center;
    height: 80vh;
    background-color: grey;
}

form{
    background-color: #E5E9C5;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    width: 300px;
    text-align: left;
}
label{
    font-weight: bold;
    color: #014D47;
}
input{
   width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 2px solid #70B2B2;
  border-radius: 5px;
  outline: none; 
}
button{
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background-color: #016B61;
    color: #E5E9C5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;

}
button:hover{
    color: white;
    background-color: #014D47;
}
article h2{
    background-color: #70B2B2;
    padding: 10px;
    width: 60%;
}

@media(max-width:768px){
    .menu-icon{
        display: block;
    }
    .nav-links{
     display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 5%;
    background-color: #016B61;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    padding: 10px 0;   
    }
    .nav-links div{
        text-align: center;
        margin: 10px 0;
    }
    .nav-links div a{
        color: #182848;
    }
    .nav-links div a:hover{
        background-color: #E5E9C5;
        color: white;
    }
    .nav-links.active {
        display: flex;
    }
}